.App {
  text-align: center;
}

.App h1 {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #4c98af;
  color: white;
}

.Order {
  margin-top: 200px; /* Adjust according to the height of your h1 tag */
}
